{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript">
        // Focus on Asset ID on load
        window.onload = function FocusOnLoad() {
            document.getElementById("id").focus();
        }
    </script>
{% endblock %}

{% block content %}
    <h1>{% block title %} Create Asset {% endblock %}</h1>
    <form method="POST">
       <label for="title">Asset ID</label>
       <span class="required">*</span>
       <input type="text" name="id" id="id"
              placeholder="Asset ID"
              required="required"
              value="{{ request.form['id'] }}"></input>
       <br>

       <label for="type">Asset Type</label>
       <span class="required">*</span>
       <select id="asset_type", name="asset_type" required="required">
              <option value="" disabled selected>Select Type</option>
              <option value="mobile">Base Station</option>
              <option value="portable">Handheld</option>
              <option value="surv">Surveillance</option>
              <option value="dring">D-Ring</option>
              <option value="headset">Headset</option>
              <option value="speakermic">Speaker Mic</option>
       </select>
       <br>
       <label for="status">Asset Status</label>
       <select id="asset_status" name="asset_status">
              <option value="">Select Status</option>
              <option value="Available">Available</option>
              <option value="Good">Good</option>
              <option value="Damaged">Damaged</option>
              <option value="Checkedout">Checked Out</option>
       </select>
       <br><br>
       
       <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
{% endblock %}