{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Bulk Asset Create {% endblock %}</h1>
    <form method=post enctype=multipart/form-data>
        {{ form.hidden_tag() }}
        <p>{{ form.data_type.label }} {{ form.data_type() }}</p>
        <p>{{ form.file.label }} {{ form.file() }}</p>
        <p>{{form.submit()}}</p>
    </form>
    <script>
        const fileInput = document.querySelector('#file');
        const SubmitButton = document.querySelector('#submit');
        fileInput.addEventListener('change', function() {
            if (fileInput.files.length > 0) {
                SubmitButton.disabled = false;
            } else {
                SubmitButton.disabled = true;
            }
        });
    </script>
{% endblock %}