{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
    <h1>{% block title %} Asset Total "{{ asset_total }}" {% endblock %}</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="text-align:left">Category</th>
            <th style="text-align:left">Total</th>
            <th style="text-align:left">Checked Out</th>
            
          </tr>
        </thead>
        <tbody>
          {% for asset_type, TotalCount, AvailCount in asset_status %}
            <tr>
              <td>{{ asset_type }}</td>
              <td>{{ TotalCount }}</td>
              <td>{{ AvailCount }}</td>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    <h4>Checked Out Assets</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="text-align:left">Asset ID</th>
            <th style="text-align:left">Staff ID</th>
            <th style="text-align:left">Department</th>
            <th style="text-align:left">Checked Out</th>
            
          </tr>
        </thead>
        <tbody>
          {% for item in checkouts %}
            <tr>
              <td><a href='/single_history/asset/{{item.assetid}}'> {{ item.assetid }}</a></td>
              <td><a href='/single_history/staff/{{item.staffid}}'>{{ item.staffid }}</a></td>
              <td>{{ item.department }}</td>
              <td>{{ moment(item.timestamp).format('LLL') }}</td>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% else %}
  {% if demo %}
  <h1>Welcome to the Asset Management System</h1>
  <h3><p>You are currently in demo mode. </p></h3>
  <p> This demo instance will reset ever 24hrs and all data will be lost.</p>
  <p> Please use the following credentials to log in:</p>
  <table class="table table-striped">
        <thead>
          <tr>
            <th style="text-align:left">Account Name</th>
            <th style="text-align:left">Password</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>admin</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>user</td>
              <td>user</td>
            </tr>
        </tbody>
      </table>
  {% else %}
  <h1>Welcome to the Asset Management System</h1>
  <p>Please log in to view your asset information.</p>
  {% endif %}
{% endif %}
{% endblock %}