{% extends "base.html" %} {% block content %} {% block title %}
<h2>Sign Up</h2>
{% endblock %}

<!-- Show only if user is logged in -->
{% if current_user.is_authenticated %} You are already logged in.

<!-- Show if user is NOT logged in -->
{% else %}

<form action="#" method="POST" id="signup-form">
  <label>Username </label><span class="required">*</span>
  <input
    type="text"
    name="username"
    required
    placeholder="Username"
  /><br /><br />

  <label>Password </label><span class="required">*</span>
  <input
    type="password"
    name="password"
    required
    placeholder="Password"
  /><br /><br />
  <label>Confirm Password </label><span class="required">*</span>
  <input
    type="password"
    name="confirm_password"
    required
    placeholder="Confirm"
  /><br /><br />
  <label>Email </label><span class="required">*</span>
  <input
    type="text"
    name="email"
    required
    placeholder="Email"
  /><br /><br />

  <label>First Name </label><span class="required">*</span>
  <input
    type="text"
    name="first_name"
    required
    placeholder="FirstName"
  /><br /><br />
  <label>Last Name </label>
  <input type="text" name="last_name" placeholder="LastName" /><br /><br />

  <button type="submit" class="btn btn-primary btn-lg">Submit</button
  ><br /><br />

  <!-- Link for signin -->
  <span>Already have an account?</span>
  <a href="/signin">Sign in</a>
</form>

{% endif %} {% endblock %}
