{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">

       // Focus on Staff ID on load
       window.onload = function d() {
           document.getElementById("staffid").focus();
       }
   
       // Focus on Radio ID on [enter]
       function runScript(e) {
           if (e.keyCode == 13) {
               document.getElementById("firstname").focus();
               return false;
           }
       }
   
       // Focus on Headset ID on [enter]
       function runScript1(e) {
           if (e.keyCode == 13) {
               document.getElementById("lastname").focus();
               return false;
           }
       }

       function runScript2(e) {
              if (e.keyCode == 13) {
                  document.getElementById("title").focus();
                  return false;
              }
          }

       function runScript3(e) {
           if (e.keyCode == 13) {
               document.getElementById("division").focus();
               return false;
           }
       }
       
       function runScript4(e) {
              if (e.keyCode == 13) {
                  document.getElementById("department").focus();
                  return false;
              }
          };
        window.onload = function validateRole() {
            const element = document.getElementById("roles");

            if (document.getElementById("roles")) {
                console.log("Selected role:"  + element.value);
            } else {
            console.log("No role selected");
        }
        }
    


      function showPasswordField() {
            const selectedRole = document.getElementById("roles").value;
            const passwordField = document.getElementById("password");
            const passwordLabel = document.getElementById("password-label");
            const passwordRequired = document.getElementById("password-required");
            console.log("Selected role:"  + selectedRole);

            if (selectedRole === "1" || selectedRole === "2") {
                passwordField.style.display = "block";
                passwordLabel.style.display = "inline";
                passwordRequired.style.display = "inline";
                passwordField.required = true;
            } else {
                passwordField.style.display = "none";
                passwordLabel.style.display = "none";
                passwordRequired.style.display = "none";
                passwordField.required = false;
            }
        };
    </script>


{% endblock%}


{% block content %}
    <h1>{% block title %} Create Staff {% endblock %}</h1>
    <form method="POST" id='theform' name='thisform' , class="a-form">
        <label for="roles">Primary Role</label>
        <br>
        <select name="roles" id="roles" onchange="showPasswordField();">
            <option value="0">None</option>
            {% for role in roles %}
                <option value="{{ role.id }}">{{ role.name }}</option>
            {% endfor %}
        </select>
        <br>
       <label for="title">Staff ID</label>
       <span class="required">*</span>
       <br>
       <input type="text" name="staffid" id="staffid"
              placeholder="Staff ID"
              value="{{ request.form['staffid'] }}"
              autocomplete="off"
              required="required" 
              onkeypress="return runScript(event);"></input>

       <!-- <input type="checkbox" id="staffgen" name="staffgen"/>
       <label for="staffgen">Auto Generate Staff ID</label>        -->
       <br>
       <label for="title">First Name</label>
         <span class="required red">*</span>
       <br>
       <input type="text" name="firstname" id="firstname"
              placeholder="First Name"
              value="{{ request.form['firstname'] }}"
              required="required"
              autocomplete="off"
              onkeypress="return runScript1(event);"></input>
       <br>
       <label for="title">Last Name</label>
       <br>
       <input type="text" name="lastname" id="lastname"
              placeholder="Last Name"
              value="{{ request.form['lastname'] }}"
              autocomplete="off"
              onkeypress="return runScript2(event);"></input>
       <br>
       <label for="title">Title</label>
         <span class="required">*</span>
       <br>
       <input type="text" name="title" id="title"
              placeholder="Title"
              value="{{ request.form['title'] }}"
              required="required"
              autocomplete="off"
              onkeypress="return runScript3(event);"></input>
       <br>
       <label for="title">Division</label>
       <br>
       <input type="text" name="division" id="division"
              placeholder="Division"
              value="{{ request.form['division'] }}"
              autocomplete="off"
              onkeypress="return runScript4(event);"></input>
       <br>
       <label for="title">Department</label>
       <br>
       <input type="text" name="department" id="department"
              placeholder="Department"
              value="{{ request.form['department'] }}"
              autocomplete="off"></input>
       <br>
        <label for="password" id="password-label" style="display: none;">Password</label>
        <span class="required" id="password-required" style="display: none;">*</span>
        <br>
        <input type="password" name="password" id="password"
            placeholder="Password"
            value="{{ request.form['password'] }}"
            autocomplete="off"
            style="display: none;"></input>
        
       <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
{% endblock %}