{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit {{ staff.id }} {% endblock %}</h1>
    <form method="post">
        <label for="title">Staff ID</label>
        <br>
        <label for="firstname">First Name</label>
        <br>
        <input type="text" name="firstname"
                value="{{ staff.first_name }}">
            </input>
        <br>
        <label for="title">Last Name</label>
        <br>
        <input type="text" name="lastname"
                value="{{ staff.last_name }}">
            </input>
        <br>
        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
                value="{{ staff.title }}">
            </input>
        <br>
        <label for="title">Division</label>
        <br>
        <input type="text" name="division"
                value="{{ staff.division }}">
            </input>
        <br>
        <label for="title">Department</label>
        <br>
        <input type="text" name="department"
                value="{{ staff.department }}">
            </input>
        <br>
        <label class="mt-4" for="Roles">Roles</label>
        <br>
        <div class="form-check">
            {% for role in roles %}
                <input class="for-check-input" type="checkbox" id="role_{{ role.id }}" name="roles" value="{{ role.id }}" {% if role.id in staff.roles %} checked {% endif %}>
                <label class="form-check-label" for="role_{{ role.id }}">{{ role.name }}</label>
                
            {% endfor %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
    <hr>    
    </form>
{% endblock %}